/* 1 */
body{
    background-color: #f4f4f4;
}
/* 2 */
header{
    background-color: #333;
}

h1{
    color:white;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu a:hover{
    color: blue;
}
/* 3 */
section{
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}
.section-info{
    background-color: lightgray;
}
/* 4 */
#about .list-item{
    color: #555;
}
#about .list-item:nth-child(3){
    font-weight: bold;
    font-style: italic;
}
/* 5 */
input{
    border: 1px solid #ddd;
    outline: none;
}
input:focus{
    border-color:#00aaff;
}
input[type="submit"]{
    background-color: #007bff;
    color: white;
}
input[type="submit"]:hover{
    background-color: darkblue;
}
/* 6 */
footer{
    background-color: #222;
    text-align: center;
    color:white;
    padding-top: 10px;
}
/* 7 */
h2::before{
    content: "- ";
}
/* 8 */
a:visited{
    color: darkgray;
}